.export_button {
  border: 1px solid #3d60f6;
  box-shadow: 0 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.12);
  border-radius: 0.4rem;
  font-size: 1.4rem;
  color: #3d60f6;
  text-align: left;
  height: 2.7rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  & > svg {
    margin-left: 1rem;
  }
}
