name: React app deployement

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CI: false
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - run : git config --global user.name github-actions
      - run : git config --global user.email github-actions@github.com
      - run : yarn install
      - run : yarn build
      - run : cp CNAME build
      - run : git --work-tree build add --all && git commit -m "Automatic Deploy action run by github-actions"
      - run : git push origin HEAD:gh-pages --force